* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

:root {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  transition: background-color 400ms;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

button {
  outline: none;
  border: none;
}
