@media only screen and (max-width: 350px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 550px;
  }

  #container {
    width: 97%;
    height: 85%;
  }

  #small-images {
    height: 20%;
  }
}

@media only screen and (min-device-width: 351px) and (max-width: 421px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #container {
    width: 90%;
    height: 85%;
  }

  #small-images {
    height: 20%;
  }
}

@media only screen and (min-device-width: 422px) and (max-width: 800px) {
  #container {
    width: 70%;
  }

  #small-images {
    height: 20%;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1280px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #container {
    width: 70%;
    height: 90%;
  }

  #small-images {
    height: 20%;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 3000px) {
  body {
    min-height: 1075px;
  }

  #container {
    width: 60%;
  }

  #small-images {
    height: 20%;
  }
}
